  @import url('https://fonts.googleapis.com/css?family=Lobster');

/* CSS Footer */
 footer {
     text-align: center;
     font-family: 'Lobster', arial;
     color: white;
     font-size: 1em;
     min-height: 230px;
     background-color: black;
     padding-top: 70px;
}
 .reseaux {
     width: 100%;
}
 footer .imgbtn {
     width:40px;
     filter: grayscale(80%);
     margin: 2% 4%;
}
 footer .imgbtn:hover {
     filter: grayscale(0);
}
