
.formInscription
{
  background:grey;
  border-radius: 10px;
}

/*  PAGE D ACCUEIL */

.background
{
  justify-content: center;
}

.background .imgAccueil
{
  width: 99%;
}


.background .connexion
{
  position: absolute;
  margin-top: 20%;
  color: white;
  font-size: 4vw;
}

.connexion h1
{
  font-style: italic;
  color: black;
  text-align: center;
  font-size: 120px;
}

.connexion p
{
  font-style: italic;
  color: black;
  text-align: center;
  font-size: 35px;
}

.connexion button
{
    display: block;
    margin : auto;
    padding: center;
    background: #DE6262;
    color:#fff;
    font-weight:600;
}

.btn{
background: #DE6262;
color:#fff;
font-weight:600;
}

.btn:hover{
background: #DE6262;
color:#fff;
font-weight:600;
}

/* CSS PAGE CONNEXION */
 .login-block
{
     background: white;
     float:left;
     width:100%;
     padding : 50px 0;
}
 .banner-sec{
    border-radius: 0 10px 10px 0;
     padding:0;
}
 #loginco{
     background:grey;
     border-radius: 10px;
}
 .carousel-inner{
    border-radius:0 10px 10px 0;
}
 .carousel-caption{
    text-align:left;
     left:5%;
}
 .login-sec{
    padding: 50px 30px;
     position:relative;
}
 .login-sec .copy-text{
     position:absolute;
     width:80%;
     bottom:20px;
     font-size:13px;
     text-align:center;
}

 .login-sec .copy-text a{
    color:#E36262;
}
 .login-sec h2
{
     margin-bottom:30px;
     font-weight:800;
     font-size:40px;
     color: white;
}

 .btn-login
{
    background: #DE6262;
     color:#fff;
     font-weight:600;
}

 .banner-text
{
    width:70%;
     position:absolute;
     bottom:1px;
     padding-left:20px;
}

 .banner-text h2
{
    color:white;
     font-weight:600;
}

 .banner-text p
{
    color:white;
}
/* page langages */
.titleLanguages h1
{
  color-font: #563482;
  text-align: center;
}
.logo{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.logoLanguages {
  width: 50%;
}

/* CSS Footer */
 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
    background-color: black;
}


 footer .imgbtn {
     width:20px;
     filter: grayscale(80%);
     margin: 2%;
}
 footer .imgbtn:hover {
     filter: grayscale(0);
}
