body {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: bold; */
}

/*  PAGE D ACCUEIL */
.background .accInscription
{
  position: absolute;
  margin-top: 20%;
  color: white;
  font-size: 4vw;
}

.background .btnWild {
  position: absolute;
  margin-top: 35%;
  margin-left: 45%;
}

.accInscription p
{
  color: white;
  text-align: center;
  font-size: 35px;
}

.accInscription button
{
    display: block;
    margin : auto;
    padding: center;
    background: #DE6262;
    color:#fff;
    font-weight:600;
}

.btn{
background: #ff6090;
color:#fff;
font-weight:600;
}

.btn:hover{
background: #ff6090;
color:#fff;
font-weight:600;
}

/* formulaires d inscription */
.FormulaireInsc{
background: #ff8a80;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to bottom, #FFB88C, #ff8a80);  /* Chrome 10-25, Safari 5.1-6 */

padding : 50px 50px;
margin: : 50px 50px;
}

/* CSS PAGE CONNEXION */
 .login-block
{
     background: white;
     float:left;
     width:100%;
     padding : 50px 0;
}
 .banner-sec{
    border-radius: 0 10px 10px 0;
     padding:0;
}
 #loginco{
     background:#ff8a80;
     border-radius: 10px;
}
 .carousel-inner{
    border-radius:0 10px 10px 0;
}
 .carousel-caption{
    text-align:left;
     left:5%;
}
 .login-sec{
    padding: 50px 30px;
     position:relative;
}
 .login-sec .copy-text{
     position:absolute;
     width:80%;
     bottom:20px;
     font-size:13px;
     text-align:center;
}

 .login-sec .copy-text a{
    color:#E36262;
}
 .login-sec h2
{
     margin-bottom:30px;
     font-weight:800;
     font-size:40px;
     color: white;
}

#sinscrire{
  margin-left: 20%;
}

 .btn-login
{
  background: #ff6090;
  border-color: #ff6090;
  color:#fff;
  font-weight:600;
  margin-right: 1%;
}

 .banner-text
{
    width:70%;
     position:absolute;
     bottom:1px;
     padding-left:20px;
}

 .banner-text h2
{
    color:white;
     font-weight:600;
}

 .banner-text p
{
    color:white;
}
/* page requetes */
.background .btn-log-out{

}

h1{
  color-font: #563482;
  text-align: center;
}

h3{
  color-font: #563482;
  text-align: center;
}

h6{
  text-align: center;
  font-size: 10px;
  padding-bottom: 15px;
}

.logo{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

/* PAGE HELP */
#navBarAide
{
  height: 5em;
  text-align:right;
}

#formHelp
{
  text-align: center;
} */

#formHelp h2
{
  margin: 4% 0;
}

#formHelp label
{
  margin: 2% 0 1% -47%;
}

.input-group
{
  width: 65%;
}

.form-control
{
  width: 60%;
  margin: 0 auto;
}

#alert-wrapper-help
{
  position: fixed;
  top: 70px;
  right: 20px;
  width: 350px;
  transition: top 1s;
}

#alert-wrapper-help.visible
{
  top: 270px;
}

/* CSS Accordéon */
#accordion{
  margin-bottom: 9%;
  font-weight: normal;
  font-size: 16px;
}

btn-link{
  background: #FFF;
}

.jelaide{
  margin-left:91%;
}

/* CSS Footer */
 footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 9%;
    color: black;
    text-align: center;
    background-color: white;
}

footer p{
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

footer .imgbtn
 {
     width: 2%;
     filter: grayscale(80%);
     margin: 0% 2%;
}

footer .slack
{
  width: 3.5%;
}

 footer .imgbtn:hover
 {
   filter: grayscale(0);
 }

footer p
{
  font-size: 10px;
  margin: 0,5%;
}

a
{
  color: black;
}

a:hover
{
  color: black;
}

nav p
{
  color: green;
  text-align: left;

}
